# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
ENV/

# Distribution / Builds
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# Local Data (Optional, uncomment if you don't want to commit the DB)
# economy.json
